@media(min-width: 769px){
    .bottom-contact{display: none;}
    
}
@media(max-width: 768px){
    /*  */
    .bottom-contact {
        display: block;
        position: fixed;
        bottom: 0;
        background: white;
        width: 100%;
        z-index: 99;
        box-shadow: 2px 1px 9px #dedede;
        border-top: 1px solid #eaeaea;
    }
    .bottom-contact ul li {
        width: 25%;
        float: left;
        list-style: none;
        text-align: center;
        font-size: 13.5px;
    }
    .bottom-contact ul li img,
    .bottom-contact ul li .icon-bar {
        width: 35px;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    .bottom-contact ul li .icon-bar{
        height: 28.4px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .bottom-contact ul li .icon-bar i{
        color: black;
        font-size: 20px;
    }
    .bottom-contact ul li span {
        color: black;
        font-size: 11px;
    }
    /* menu */
    .mm-menu_offcanvas {
        z-index: 100;
        display: block;
        left: 0;
        transform: translateX(-100%);
        transition: all .3s;
    }
    .mm-menu_offcanvas.mm-menu_opened{
        transform: translateX(0);
        transition: all .3s;
    }
    .mm-wrapper_blocking .mm-page__blocker{
        background: transparent;
    }
    .mm-wrapper_blocking .mm-page__blocker::before {
        content: "";
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        background: rgb(0 0 0 / 55%);
    }

    #close-nav{
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        width: 60px;
        height: 38px;
        padding-top: 2px;
        align-items: center;
        justify-content: center;
        z-index: 111;
        background-color: #f3f3f3;
    }
    .mm-slideout{
        min-height: auto!important;
        z-index: 10;
    }
    .mm-wrapper_opening .mm-menu_offcanvas.mm-menu_opened~.mm-slideout {
        transform: unset;
        min-height: auto!important;
    }
    .wrap-image-product #slide-item-product-detail .owl-nav button {
        opacity: 1;
        visibility: visible;
    }
}
@media (min-width: 550px){
    .mm-slideout{
        min-height: auto!important;
    }
    .mm-wrapper_opening .mm-menu_offcanvas.mm-menu_opened~.mm-slideout {
        transform: unset;
        min-height: auto!important;
    }
}
/* end menu */
