

@media (max-width:1366px) {
    
}
@media (max-width:1200px) {
    #story-rio .box-content h3 {
        font-size: 26px;
    }
    #story-rio .wrap-content-story {
        margin: 0;
    }
    /*  */
    .box-product .content h3 {
        font-size: 25px;
    }
    /*  */
    #footer>.container{
        max-width: 100%;
        justify-content: space-between;
    }
    .detail-footer .descriptions>.title {
        font-size: 24px;
    }
    .detail-footer .descriptions>p {
        font-size: 16px;
    }
    #footer .logo-footer-main{
        min-width: max-content;
    }
    .detail-footer {
        width: 100%;
        color: #FFF;
        padding-left: 35px;
        justify-content: space-between;
    }
}
@media (max-width:1080px) {
    .box-title h3{
        font-size: 26px;
    }
    /*  */
    #slide-top-main .content-slide h2 {
        font-size: 35px;
    }
    #slide-top-main .content-slide p {
        margin-top: 10px;
    }
    #slide-top-main .content-slide .link {
        margin-top: 20px;
        padding: 15px 20px 13px;
        width: 100%;
        max-width: 245px;
    }
    #slide-top-main .item{
        height: 400px;
    }
    /*  */
    #list-service .box-service {
        min-height: 240px;
    }
    #list-service .box-service h3 {
        font-size: 16px;
    }
    /*  */
    #resiger .text-resiger {
        font-size: 22px;
    }
}
@media (max-width:991px) {
    .container{
        max-width: 100%;
    }
    #advantage-rio>.container>.row {
        margin-left: -15px;
        margin-right: -15px;
    }
    #advantage-rio>.container>.row>[class*="col-"]{
        margin-bottom: 30px;
    }
    /*  */
}
@media (max-width:768px) {
    .header-main #nav-menu, .header-top{display: none;}
    header#header .header-main{
        padding: 10px 0;
    }
    #slide-top-main .content-slide h2 {
        font-size: 32px;
    }
    #slide-top-main .content-slide p {
        font-size: 14px;
    }
    /*  */
    #list-service .row{
        margin-top: -50px;
    }
    #list-service .col-md-3{
        margin-top: 0;
    }
    /*  */
    #story-rio .wrap-content-story{
        flex-direction: column-reverse;
    }
    #story-rio .box-content, #story-rio .box-image{
        width: 100%;
        margin: 0;
    }
    /*  */
    #tab-header-custom .icon {
        width: 70px;
        height: 70px;
    }
    #tab-header-custom .icon img{
        max-width: 35px;
    }
    #tab-header-custom .text-custom .counter {
        font-size: 22px;
    }
    /*  */
    .box-itemadvan .box-content .title {
        font-size: 16px;
    }
    .box-itemadvan .box-content .title::before {
        max-width: 110px;
    }
    /*  */
    #customer-comments .content h2 {
        font-size: 22px;
    }
    #customer-comments .content .content {
        font-size: 14px;
    }
    /*  */
    .wrap-resiger {
        display: block;
    }
    #resiger .text-resiger, #resiger .wrap-form{
        text-align: center;
        margin:  5px auto;
    }
    /*  */
    #footer {
        padding-bottom: 90px;
    }
    #footer>.container{
        flex-direction: column;
    }
    #footer .logo-footer-main {
        padding: 0;
        border: none;
        margin-bottom: 20px;
    }
    .detail-footer{
        padding-left: 0;
        flex-direction: column;
        align-items:center;
        margin-top: 30px;
    }
    .detail-footer .descriptions{
        padding: 0;
        text-align: center;
        margin-bottom: 20px;
    }
    .detail-footer .descriptions .list-menu-footer .title {
        display: inline-block;
    }
}
@media (max-width:576px) {
    #slide-top-main .content-slide .content{
        margin: 0 auto;
        text-align: center;
    }
    #slide-top-main .content-slide .link{
        margin: 20px auto 0;
    }
    #list-service .col-md-3 {
        margin-bottom: 20px;
    }
    /*  */
    #list-service .row {
        margin-top: 0;
        padding-top: 15px;
    }
    #story-rio .box-content h3 {
        font-size: 20px;
    }
    /*  */
    #story-rio .box-content{
        padding: 20px;
    }
    /*  */
    #tab-header-custom .container .row{
        justify-content: center;
    }
    #tab-header-custom .container .row .box-item-custom {
        flex: 0 0 calc(100% / 2);
        max-width: calc(100% / 2);
        margin-bottom: 30px;
    }
    /*  */
    #customer-comments .owl-carousel .content{
        position: relative;
        flex: 0 0 100%;
        max-width: 100%;
        display: block;
    }
    #customer-comments .owl-carousel .image-custom{
        display: flex;
    align-items: flex-end;
    display: none;
    }
    .box-title h3 {
        font-size: 22px;
    }
    /*  */
    #certificates .row>[class*="col-"] {
        flex: 0 0 50%;
        max-width: 50%;
    }
    #certificates .box-blog {
        flex-direction: column;
    }
    #certificates .box-blog .content {
        padding-left: 0;
        padding-top: 10px;
    }
    #certificates .box-blog .box-image {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        max-height: 100%;
        height: 115px;
    }
    #resiger .text-resiger, #resiger .wrap-form{
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (max-width:375px) {
    .box-title h3 {
        font-size: 19px;
    }
    /*  */
    .box-product .content{
        left: 20px;
    }
    .box-product .content h3 {
        font-size: 22px;
    }
    /*  */
    .box-title h3 {
        font-size: 20px;
    }
    /*  */
    #certificates .row>[class*="col-"] {
        flex: 0 0 100%;
        max-width: 100%;
    }
    #certificates .box-blog .box-image {
        height: auto;
    }
}