
:root {
    --color-main: #032269;
    --color-text: #4F4F4F;
    --width-container: 1200px;
}

* {
    margin: 0px;
    padding: 0px;
    line-height: 1.45;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

*,
::before,
::after {
    box-sizing: border-box;
}

p {
    margin-bottom: 0px;
}

a {
    /* color: var(--color-text); */
    transition: all 0.4s ease 0s;
    display: inline-block;
}

a:hover {
    text-decoration: none;
    color: #FFE600;
    transition: all 0.4s ease 0s;
}

a:hover * {
    color: #FFE600;
    transition: all 0.4s ease 0s;
}

a:hover p {
    color: var(--color-text);
}

ul {
    list-style: none;
    margin-bottom: 0px;
}

.mh-auto {
    min-height: auto !important;
}

.mw-auto {
    min-width: auto !important;
}

body {
    font-family: var(--font-normal);
    line-height: 1.33;
    font-size: 14px;
}

img {
    max-width: 100%;
    object-fit: cover;
    transition: all .4s;
}


.m-100 {
    margin-top: 100px !important;
}

.mt-80 {
    margin-top: 80px !important;
}

.mb-80 {
    margin-bottom: 80px !important;
}

@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}

main.overflow {
    overflow-x: hidden;
}

a:not(.item):focus,
a:not(.item):focus-visible,
input,
input:focus,
button,
button:focus,
select,
select:focus,
select:focus-visible,
textarea,
textarea:focus,
textarea:focus-visible {
    box-shadow: none !important;
    /* border: none; */
    outline: none;
}

.container {
    width: 100%;
    max-width: 1080;
}

.font-bold {
    font-family: var(--font-bold);
}

.bg-white {
    background-color: white;
}

.color-main {
    color: var(--color-main) !important
}

.btn {
    transition: all .4s;
    display: inline-flex;
    align-items: center;
    /* margin: 0 5px; */
    justify-content: center;
    min-width: max-content;
}

.btn.btn-color-main {
    background-color: var(--color-main);
    ;
    color: #FFF;
}

.btn.btn-color-main:hover {
    opacity: .8;
}
.box-image>img{
    height: 100%;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
    color: inherit;
    text-decoration: none;
}
/* header  */
/* header  */
header#header{
    z-index: 20;
    transition: all .3s;
}
    .header-top{
        background-color: var(--color-main);
        padding: 13px 0;
    }
    .header-top .container{
        justify-content: space-between;
        align-items: center;
    }
    .header-top .box-phone{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .header-top .box-phone span{
        font-weight: 700;
        display: block;
        margin-left: 5px;
        color: #FFF;
    }
    .header-top .social{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .header-top .social li{
        margin-left: 5px;
    }

    /* menu  */
    .header-main{
        background-color: #FFF;
        padding: 5px 0;
    }
    .header-main .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header-main .logo h1{margin: 0;}
    .header-main .menu{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .header-main #nav-menu{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .header-main #nav-menu .wrap-menu{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    #nav-menu .wrap-menu .item-menu{
        padding: 28px 15px 22px;
        position: relative;
    }
    #nav-menu .wrap-menu .item-menu>a{
        text-transform: uppercase;
        font-weight: 500;
    }
    #nav-menu .wrap-menu .item-menu a{
        font-size: 14px;
        color: var(--color-main);
    }
    .wrap-menu .item-menu .menu-child{
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 250px;
        width: auto;
        background-color: var(--color-main);
        transition: all .3s;
        transform: translateY(30px);
        opacity: 0;
        visibility: hidden;
        transition-delay: .1s;
    }
    #nav-menu .wrap-menu .item-menu:hover .menu-child{
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        transition: all .3s;
        transition-delay: .4s;
    }
    #nav-menu .wrap-menu .item-menu .menu-child li{
        transition: all .3s;
    }
    #nav-menu .wrap-menu .item-menu .menu-child li a{
        display: block;
        padding: 10px;
        color: #FFF;
        transition: all .3s;
    }
    #nav-menu .wrap-menu .item-menu .menu-child li:hover a{
        background-color: #FFF;
        color: var(--color-main);
        transition: all .3s;
    }
    .wrap-menu .item-menu .menu-child{}

    /*  */
    .header-main .change-langue{
        width: 68px;
        background-color: rgb(220, 175, 38);
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-left: 15px;
    }
/* header  */
/* header  */

/* custom slide  */
.owl-theme .owl-dots{display: none;}
.owl-nav{
    margin: 0!important;
}
.owl-nav button{
    width: 36px;
    height: 36px;
}
.owl-nav .owl-prev span,
.owl-nav .owl-next span{display: none;}
.owl-nav button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s;
}
.owl-nav button.owl-prev{
    left: 5%;
}
.owl-nav button.owl-next{
    right: 5%;
}
.owl-nav .owl-next::after,
.owl-nav .owl-prev::before{
    font-family: "Font Awesome 5 Pro";
    position: absolute;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 2px solid #a38640;
    background-color: #a38640;
    color: #FFF;
    font-size: 20px;
    padding-top: 1px;
}
 .owl-nav .owl-prev::before{
    content: '\f053';
    padding-right: 1px;
}
.owl-nav .owl-next::after{
    content: '\f054';
    padding-left: 1px;
}
/*  */
#slide-top-main .item{
    max-height: 575px;
    height: 100%;
}
#slide-top-main .item>img{
    height: 100%;
}
#slide-top-main .content-slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#slide-top-main .content-slide .container{
    height: 100%;
    display: flex;
    align-items: center;
}
#slide-top-main .content-slide .content{
    width: max-content;
    margin-left: auto;
    max-width: 100%;
}
#slide-top-main .content-slide h2{
    color: #133d78;
    font-size: 60px;
    font-weight: 900;
}
#slide-top-main .content-slide p{
    font-size: 16px;
    color: #5d6467;
    margin-top: 20px;
    
}
#slide-top-main .content-slide .link{
    background-color: #37c5a6;
    font-weight: 700;
    margin-top: 35px;
    color: #FFF;
    padding: 22px 30px 18px;
    border-radius: 60px;
    width: 100%;
    max-width: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
}
#slide-top-main .content-slide .link:hover{
    background-color: var(--color-main);
}
/* custom slide  */

/* list-service */

#list-service{
    background-color: var(--color-main);
}
#list-service .container{
    padding-left: 45px;
    padding-right: 45px;
}
#list-service .box-service{
    height: 100%;
    min-height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#list-service .box-service h3{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    color: #FFF;
}
#list-service .box-service a{
    border: 1px solid rgb(220, 175, 38);
    background-color: rgb(1, 118, 213);
    transition: all .3s;
    border-radius: 30px;
    min-width: 140px;
    text-transform: uppercase;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 0 2px;
}
#list-service .col-md-3{
    position: relative;
    z-index: 5;
    margin-top: -50px;
    transition: all .3s;
}
#list-service .col-md-3:nth-child(1){
    background-color: rgb(1, 118, 213);
    
}
#list-service .col-md-3:nth-child(2){
    background-color: rgb(1, 112, 202);
}
#list-service .col-md-3:nth-child(3){
    background-color: rgb(1, 106, 192);
}
#list-service .col-md-3:nth-child(4){
    background-color: rgb(2, 95, 171)
}
#list-service .col-md-3:hover{
    background-color: rgb(220, 175, 38);
}

  /* story-rio */
#story-rio{
    padding: 50px 0;
}
#story-rio .wrap-content-story{
    margin: 0 -35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#story-rio .box-content{
    width: 50%;
    margin-right: -35px;
    position: relative;
    z-index: 1;
    background-color: var(--color-main);
    padding: 35px 30px;
    color: #FFF;
}
#story-rio .box-content h3{
    font-size: 30px;
    color: rgb(220, 175, 38);
    font-weight: 700;
    text-transform: uppercase;
    text-align: justify;
}
#story-rio .box-content p{
    margin-bottom: 15px;
    text-align: justify; 
}
#story-rio .box-image{
    width: calc(50% + 45px);
    margin-left: -35px;
    text-align: right;
}
#story-rio .box-image img{
    width: 100%;
}

/* tab-header-custom */
#tab-header-custom{
    background: url(/images/bg-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 35px 0;
}
#tab-header-custom .container .row .box-item-custom{
    flex: 0 0 calc(100% / 5);
    max-width: calc(100% / 5);
    text-align: center;
}
#tab-header-custom .icon{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    background-color: rgb(220, 175, 38);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
#tab-header-custom .text-custom .counter{
    font-size: 30px;
    color: rgb(220, 175, 38);
    font-weight: 700;
    margin-top: 15px;margin-bottom: 10px;
    font-family:'Times New Roman', Times, serif
}
#tab-header-custom .text-custom p{
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    margin-top: 10px;
}
/* title  */
.box-title{
    padding-top: 30px;
    padding-bottom: 40px;
    text-align: center;
}
.box-title h3{
    position: relative;
    padding-bottom: 5px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 34px;
    color: var(--color-main);
}
.box-title h3::before{
    content: "";
    width: 155px;
    height: 2px;
    background: rgb(220, 175, 38);
    position: absolute;
    left: 0;
    bottom: 0;
}
/* advantage-rio */
#advantage-rio{
    padding-top: 15px;
}
#advantage-rio>.container>.row{
    margin-left: -50px;
    margin-right: -50px;
}
#advantage-rio .box-itemadvan{
    height: 100%;
    background-color: var(--color-main);
    color: #FFF;
}
#advantage-rio .box-itemadvan .box-image{
    width: 100%;
    overflow: hidden;
}
#advantage-rio .box-itemadvan .box-image img{
    width: 100%;
    transition: all .3s;
}
#advantage-rio .box-itemadvan .box-image:hover img{
    transform: scale(1.1);
    transition: all .3s;
}
#advantage-rio .box-itemadvan .box-content{
    padding: 30px 20px;
    position: relative;
}
.box-itemadvan .box-content .number{
    width: 54px;
    height: 54px;
    border-radius: 100%;
    background-color: rgb(220, 175, 38);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 500;
    color: #FFF;
    margin-top: -55px;
    margin-bottom: 10px;
}
.box-itemadvan .box-content .title{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(220, 175, 38);
    position: relative;
    padding-bottom: 7px;
    margin-bottom: 10px;
}
.box-itemadvan .box-content .title a{
    color: rgb(220, 175, 38);
}
.box-itemadvan .box-content .title::before{
    content: "";
    width: 100%;
    max-width: 145px;
    height: 2px;
    background: rgb(220, 175, 38);
    position: absolute;
    left: 0;
    bottom: 0;
}
.box-itemadvan .box-content .content{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 7;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-align: justify;
}

/* box-product */
#products{
    padding: 15px 0 45px;
}
.box-product{
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}
.box-product>img{
    width: 100%;
}
.box-product .content{
    position: absolute;
    left: 30px;
    bottom: 20px;
}
.box-product .content h3{
    font-size: 39px;
    color: #FFF;
    text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.64);
    text-transform: uppercase;
    margin-bottom: 5px;
}
.box-product .content .link-more{
    color: #FFF;
    background-color: rgb(220, 175, 38);
    padding: 4px 20px 2px;
    border-radius: 26px;
    transition: all .3s;
}
.box-product .content .link-more:hover{
    background-color: var(--color-main);
}

/* SERVICES */
#services-main{
    background-color: #edf0f1;
    padding-top: 15px;
    padding-bottom: 15px;
}
#services-main .list-services{ }
#services-main .list-services .col-md-4{margin-bottom: 35px;}
#services-main .list-services .box-service{
    background: var(--color-main);
    height: 100%;
    width: 100%;
}
#services-main .list-services .box-service .box-image img{
    width: 100%;
    height: 100%;
}
#services-main .list-services .box-service .title{ 
    background: var(--color-main);
    font-size: 14px;
    text-transform: uppercase;
    color: #FFF;
    text-align: center;
    margin: 0;
    padding: 17px 10px 13px;
    transition: all .3s;
}
#services-main .list-services .box-service:hover .title{
    color: rgb(220, 175, 38)
}

/* customers */
#customers{
    padding: 10px 0 30px;
}
#customers .list-customers>[class*="col-"]{
    margin-bottom: 30px;
}
#customers .list-customers .item-customer{
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* customer-comments */
#customer-comments{
    background: url(/images/bg-cus.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 15px;
}
#customer-comments .box-title h3{
    color: #FFF;
}
#customer-comments .owl-carousel .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
}
#customer-comments .content h2{
    font-size: 30px;
    margin-bottom: 5px;
}
#customer-comments .content p{
    font-size: 14px;
    margin-bottom: 25px;
}
#customer-comments .content .content{
    font-size: 15px;
    padding-bottom: 20px;
}

/* certificates */
#certificates{
    padding: 15px 0;
}
#certificates .row>[class*="col-"]{
    margin-bottom: 30px;
}
#certificates .box-image img{
    width: 100%;
    height: 100%;
}
#certificates{}
#certificates .row>[class*="col-"]{
    margin-bottom: 20px;
}
#certificates .box-blog{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
#certificates .box-blog .box-image{
    width: 100%;
    max-width: 233px;
    min-width: 233px;
    max-height: 115px;
}
#certificates .box-blog .content{
    padding-left: 15px;
}
#certificates .box-blog .content .title{
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--color-main);
    transition: all .3s;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
#certificates .box-blog .content .descriptions{
    font-size: 12px;
    color: var(--color-main);
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
#certificates .box-blog:hover .content .title{
    color: rgb(220, 175, 38);
}


/* resiger */
#resiger{
    background-image: -moz-linear-gradient( 90deg, rgb(11,77,115) 0%, rgb(255,242,164) 0%, rgb(209,170,71) 0%, rgb(230,196,81) 51%, rgb(230,196,80) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(11,77,115) 0%, rgb(255,242,164) 0%, rgb(209,170,71) 0%, rgb(230,196,81) 51%, rgb(230,196,80) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(11,77,115) 0%, rgb(255,242,164) 0%, rgb(209,170,71) 0%, rgb(230,196,81) 51%, rgb(230,196,80) 100%);
    padding: 45px 0;
    margin-top: 25px;
}
.wrap-resiger{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#resiger .text-resiger{
    flex: 0 0 50%;
    max-width: 50%;
    font-size: 27px;
    color: var(--color-main);
    font-weight: 500;
}
#resiger .wrap-form{
    flex: 0 0 50%;
    max-width: 50%;
    text-align: center;
}
#resiger .wrap-form input{
    background-color: #f3ebd3;
    height: 54px;
    border:none;
    border-radius: 10px;
    padding: 0 15px 0 20px;
}
#resiger .wrap-form input::placeholder{
    font-weight: 500;
    color: var(--color-main);
}
#resiger .wrap-form button{
    width: 100%;
    max-width: 190px;
    height: 36px;
    background-color: var(--color-main);
    border-radius: 36px;
    border: none;
    color: #FFF;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 2px;
    transition: all .3s;
}
#resiger .wrap-form button i{
    font-size: 10px;
    margin-left: 5px;
}

#resiger .wrap-form button:hover{
    color: rgb(220, 175, 38);
}


/* footer */
/* footer */
#footer{
    background-color:#303783;
    padding: 40px 0;
}
#footer>.container{
    display: flex;
    align-items: center;

}
#footer .logo-footer-main{
    padding-right: 60px;
    border-right: 1px solid #00cac0;
    text-align: center;
}
#footer .logo-footer-main .logo-footer{
    display: inline-block;
}
#footer .logo-footer-main>p{
    font-size: 14px;
    text-transform: uppercase;
    color: #FFF;
    margin:20px 0 5px
}
#footer .logo-footer-main .contact-footer{
    border-radius: 30px;
    border: 1px solid #FFF;
    padding: 2px 25px 0;
    color: #FFF;
    display: inline-block;
    margin-bottom: 10px;
    transition: all .3s;
}
#footer .logo-footer-main .contact-footer:hover{
    background-color: rgb(220, 175, 38);
    color: #FFF;
}
#footer .logo-footer-main ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
#footer .logo-footer-main ul li{
    padding: 0 6px;
}
.detail-footer{
    color: #FFF;
    padding-left: 55px;
    display: flex;
    align-items: flex-end;
}
.detail-footer .descriptions{
    padding-right: 25px;
}
.detail-footer .descriptions>.title{
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
    color: #00cac0;
    font-weight: 700;
    margin-bottom: 20px;
}
.detail-footer .descriptions>p{
    font-size: 20px;
    text-transform: uppercase;
}
.detail-footer .descriptions .list-menu-footer{
    display: flex;
    align-items: flex-start;
    margin-top: 35px;
}
.detail-footer .descriptions .list-menu-footer .item{
    flex: 0 0 50%;
    max-width: 50%;
}
.detail-footer .descriptions .list-menu-footer .title{
    font-size: 16px;
    position: relative;
    color: #FFF;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.detail-footer .descriptions .list-menu-footer ul a{
    display: block;
    color: #FFF;
    padding: 5px 0;
    transition: all .3s;
}
.detail-footer .descriptions .list-menu-footer ul a:hover{
    color: rgb(220, 175, 38)
}
.detail-footer .descriptions .list-menu-footer .title::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 65px;
    height: 2px;
    background-color: #00625f;
}
/* footer */
/* footer */
/* footer */
  
  